body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#ff5fa2,#ff9ecf);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
    color:white;
}

h1{
    font-size:40px;
    animation:fade 2s infinite alternate;
}

p{
    font-size:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff4081;
    font-size:18px;
    cursor:pointer;
}

@keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
  }
